* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/* header start */
header {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    width: 100%;
   background-color: rgb(102 114 108 / 32%);
   
}

h1 {
    margin-inline: 100px 0;
    
}

span:hover {
    background-color: blue;
    display: inline-block; 
    /* display: flex; */
    background-image: url(../images/anku.png);
    background-position: top;
    height: 200px;
    width: 150px;
    border-radius: 20%;
    border-bottom: 3px solid red;
    text-align: center;
    /* justify-content: center; */
    /* margin-top: 25px; */
}

nav  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* list-style: none; */
}
nav a {
    /* margin: 7px 0; */
    padding: 10px 30px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    

}

nav a:hover{
    border-bottom: 2px solid red;
    
}
/* header end */

/* footer */
footer {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    text-align: center;
    padding: 0px 30px;
    background-color:rgb(102 114 108 / 32%) ;
}


.item1 {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
   
   
}
div {
    padding: 0 100px;
    color: blue;
}

/* footer end */

/* main  */
main {
    width: 100%;
    /* margin-top: 3%; */
    /* margin-bottom: 3%; */
}

img {
    width: 300px;
 
}
/* html */
.text1 {
    color: black;
   
}
.text1 img {
    width: 200px;
}

.text2 {
    color: black;
    /* text-align: center; */
    padding-top: 3%;
}




/* Responsive Style */
/* Laptop */
/* Responsive Styles */
/* လက်ပ်တော့နှင့် ကြီးမားသော စကရင်များအတွက် */
@media (max-width: 1200px) {
    header, footer {
        font-size: 1.5rem;
        text-align: center;
    }
}

/* Tablet အတွက် */
@media (max-width: 768px) {
    header, footer {
        text-align: left;
        padding: 0.5rem 1rem;
    }
}

/* Phone အတွက် */
@media (max-width: 480px) {
    header, footer {
        text-align: center;
        width: 100%;
    }   
}








